
#################
## environment ##
#################

NODE_ENV=development
APP_NAME=API_KERNEL
ALLOW_CORS=true
PORT=9000

SITE_NAME=my app
# API url, remember add / at the end
baseUrl=http://localhost:9000/
logoUrl=http://localhost:9000/assets/logo.png

# Social link or email template
facebookUrl=https://facebook.com
twitterUrl=http://twitter.com

#############
## mongodb ##
#############

MONGO_URI=mongodb://localhost/api-kernel-dev

#############
## redis   ##
#############

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASS=
REDIS_URL=redis://localhost:6379/0


############
## agenda ##
############

AGENDA_COLLECTION_NAME=agenda
AGENDA_MAX_CONCURRENCY=6

## mailing
SENDGRID_API_KEY=xxxxx

SPARKPOST_API_KEY=xxx

MAIL_SERVICE=sparkpost

mailFrom=admin@mail.iospot.top

ADMIN_EMAIL=admin@myapp.com

## File size limit in MB
MAX_PHOTO_SIZE=10
MAX_VIDEO_SIZE=200
MAX_FILE_SIZE=100

SMS_FROM=+xxx
SMS_SID=twilio-sid
SMS_AUTH_TOKEN=twilio-auth-token