RewriteEngine on

RewriteRule profile-([0-9]+)-(.*)\.html$ profile.php?id=$1&name=$2 [L]
RewriteRule user_posts-([0-9]+)-(.*)\.html$ user_posts.php?id=$1&name=$2 [L]
RewriteRule user_likes-([0-9]+)-(.*)\.html$ user_likes.php?id=$1&name=$2 [L]
RewriteRule cat-([0-9]+)-(.*)\.html$ cat.php?cid=$1&name=$2 [L]
RewriteRule post-([0-9]+)-(.*)\.html$ post.php?id=$1&name=$2 [L]
RewriteRule rss_cat-([0-9]+)\.html$ rss_cat.php?id=$1 [L]
RewriteRule send_message-([0-9]+)\.html$ send_message.php?mid=$1 [L]
RewriteRule show_msg-([0-9]+)\.html$ show_msg.php?mid=$1 [L]
RewriteRule ^(.*)\.html$ $1.php [L]

